/* CSS Demo Stylesheet */


/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*Utility Classes*/

.container{
  width:70vw;
  margin:40px auto;
  background-color:#DFC5B1;
}

/*responsive images*/

img{
  max-width:100%;
  height:auto;
}

/*------Global Styles------*/

body{
    background-color:#A8E3E1;
    font-family: 'Roboto Condensed', sans-serif;
    margin:10;
}

header.primary {
    background-color:#43CCC8;
    text-align:center;
    color:black;
    padding:20px 40px;
}

header.primary h1{
  font-size:2rem;
  margin:20px 0;
  text-shadow:2px 2px 10px black;
}

header.primary h2{
  color:#647491;
  text-shadow:2px 2px 2px black;
}

header.primary h1 a{
  color:#E3C1B6;
  text-decoration:underline;
}

header.primary nav{
  width:70vw;
  margin:auto;
  max-width:900px;
  background-color:#E3C6B6;
  border-radius:20px;
}

header.primary nav ul{
  padding:0;
  padding-top:20px;
  padding-bottom:20px;
  padding-right:20px;
  padding-left:20px;
  display:flex;
  justify-content:space-between;
}

Header.primary nav li{
  list-style-type:none;
}

header.primary nav a{
  color:black;
  
}

header nav a:hover{
  background-color:rgb(220,227,157, .8);
  transition:.5;
}

 #intro{
   border-bottom: 1px dotted #000000;
   padding-bottom:1.5rem
 }

 #intro h2{
    color:#647491;
    border-bottom:1px dotted #000000;
  }

 #intro p{
   line-height:30px
 }
 
 #content{
   display:flex;
   flex-direction:row;
   justify-content:space-between;
 }
 
 #content article.post{
   width:30%;
   box-shadow:0 4px 8px rgba(0,0,0,.4);
   padding:5px;
   transition:.5s;
 }
 
 #content article.post:hover{
   box-shadow:0 8px 16px rgba(0,0,0,.4) 
 }
 
 #content.post figure{
   margin:0;
 }
 
 time.post-date, figcaption, .post-meta{
   text-transform:uppercase;
   color:#647491;
   outline-color:black;
 }

.post a{
  color:#647491;
}

.post a:hover, .post a:active{
  text-decoration:none;
}
/*atribute selector*/
aside[role="complementary"]{
  background-color:#647491; 
  padding:1.8rem;
}

aside div.container{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

/*Media Query Example*/

@media screen and (max-width:350px){
  header.primary nav ul{
    flex-direction:column;
    margin:auto;
  }
  
  header.primary nav a{
    display:block;
  }
  
  header.primary nav li{
    margin-bottom:10px; 
  }
  
  
}