body h1{
    background-color:#BA9B8C;
    padding:20px;
    text-align:center;
    color:#6E4531;
}

ul{
    background-color:#EDC6B2;
}

a{
    color:black;
    background-color:#BA9B8C;
}

a:hover{
    background-color:#F0986C;
}

a:visited{
    background-color:#6E5B52;
    color:#EDC6B2;
}
    